* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background-color: rgb(131, 203, 255);
    align-items: center;
    display: flex;
    justify-content: center;
}

.first_screen {
    width: 100%;
    height: 980px;
    background-color: rgb(255, 131, 131);
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.left {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);

    padding: 50px 50px 50px 50px;}

.right {
    width: 100%;
    height: 100%;
    background-color: rgb(148, 131, 255);
    align-items: center;
    border: 0.5px solid;
}

.line_one, .line_two, .line_three, .line_four {
    width: 100%;
    height: 25%;
    background-color: rgb(255, 236, 131);

    align-items: center;
    display: flex;    
    justify-content: center;
}

.cube_one, .cube_two, .cube_three, .cube_four {
    width: 320px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;    
    justify-content: center;
    border: 0.5px solid;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cube_one:hover, .cube_two:hover, .cube_three:hover, .cube_four:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}
.cube_one:active, .cube_two:active, .cube_three:active, .cube_four:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

.text_one, .text_two, .text_three, .text_four {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;    
    justify-content: center;
    border: 0.5px solid;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.text_one:hover, .text_two:hover, .text_three:hover, .text_four:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}
.text_one:active, .text_two:active, .text_three:active, .text_four:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}
h1 {
    font-size: 100px;
}
h2{
    font-size: 50px;
}

button {
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
    margin-top: 50px;
}
  
button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
};
  
button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
};